<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>DemoProject</title>

<link rel="stylesheet"
	href="webjars/bootstrap/4.4.1/css/bootstrap.min.css" />
<link rel="stylesheet" href="css/main.css" />
</head>
<body>

	<div class="container">
		<h2>Create New Project</h2>
		<form th:action="@{/save}" th:object="${project}" method="post">
			<ul th:if="${#fields.hasErrors('*')}">
				<li th:each="error : ${#fields.errors('*')}" th:text="${error}">error</li>
			</ul>

			<div class="row">
				<label class="col-md-3 text-right" for="projectid">Project
					ID:</label>
				<div class="col-md-6 pull-left">
					<div class="form-group">
						<input type="number" name="projectid" id="projectid"
							class="form-control form-control-sm" th:field="*{id}" />
					</div>
				</div>
			</div>

			<div class="row">
				<label class="col-md-3 text-right" for="projecttitle">Title:</label>
				<div class="col-md-6 pull-left">
					<div class="form-group">
						<input type="text" name="projecttitle" id="projecttitle"
							class="form-control form-control-sm" th:field="*{title}" />
					</div>
				</div>
			</div>

			<div class="row">
				<label class="col-md-3 text-right" for="fieldselect">Type:</label>
				<div class="col-md-3 pull-left">
					<div class="form-group">
						<select class="form-control form-control-sm" name="fieldselect"
							id="fieldselect" th:field="*{type}">
							<option value=""> - Select - </option>
							<option value="HealthCare">Health Care</option>
							<option value="Insurance">Insurance</option>
							<option value="Banking">Banking</option>
							<option value="Shipping">Shipping</option>
							<option value="PublicSector">Public Sector</option>
							<option value="Government">Government</option>
						</select>
					</div>
				</div>
			</div>


			<div class="row">
				<label class="col-md-3 text-right" for="fieldprice">Estimated
					Price:</label>
				<div class="col-md-3 pull-left">
					<div class="form-group">
						<input type="number" name="fieldprice" id="fieldprice" step="any"
							class="form-control form-control-sm" th:field="*{price}" />
					</div>
				</div>
			</div>

			<div class="row">
				<label class="col-md-3 text-right" for="fieldselect2">Team
					Members:</label>
				<div class="col-md-3 pull-left">
					<div class="form-group">
						<select class="form-control form-control-sm" name="fieldselect2"
							id="fieldselect2" th:field="*{teammembers}" multiple>
							<option value="MemberName1">MemberName1</option>
							<option value="MemberName2">MemberName2</option>
							<option value="MemberName3">MemberName3</option>
							<option value="MemberName4">MemberName4</option>
							<option value="MemberName5">MemberName5</option>
						</select>
					</div>
				</div>
			</div>


			<div class="row">
				<label class="col-md-3 text-right"
					for="datetime-local">Launch Date:</label>
				<div class="col-md-3 pull-left">
					<div class="form-group">
						<input type="datetime-local" name="datetimelocal"
							id="datetimelocal" class="form-control form-control-sm"
							th:field="*{launchDate}" />
					</div>
				</div>
			</div>

			<div class="row">
				<label class="col-md-3 text-right" for="datetime-local">Duration:</label>
				<div class="col-md-6">
					<div class="form-group">
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" th:field="*{days}"
								name="option1" id="option1" value="15"> <label
								class="form-check-label" for="option1">150 Days</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" th:field="*{days}"
								name="option2" id="option2" value="30"> <label
								class="form-check-label" for="option2">250 Days</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" th:field="*{days}"
								name="option3" id="option3" value="45"> <label
								class="form-check-label" for="option3">365 Days</label>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<label class="col-md-3 text-right" for="featured">Featured?</label>
				<div class="col-md-3 pull-left">
					<div class="form-group">
						<div class="form-check">
							<input class="form-check-input" type="checkbox"
								th:field="*{featured}" name="featured" id="featured">
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<label class="col-md-3 text-right" for="highpriority">High
					Priority?</label>
				<div class="col-md-3 pull-left">
					<div class="form-group">
						<div class="form-check">
							<input class="form-check-input" type="checkbox"
								name="highpriority" id="highpriority" disabled>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<label class="col-md-3 text-right"
					for="fielddescription">Description:</label>
				<div class="col-md-6 pull-left">
					<div class="form-group">
						<textarea class="form-control form-control-sm"
							name="fielddescription" id="fielddescription"
							th:field="*{description}" rows="1"></textarea>
					</div>
				</div>
			</div>


			<div class="row">
				<label class="col-md-3 text-right" for="savebutton"></label>
				<div class="col-md-3 pull-left">
					<div class="form-group">
						<button type="submit" name="savebutton" id="savebutton"
							class="btn btn-primary btn-block mt-3">Save Project</button>
					</div>
				</div>
			</div>

		</form>
	</div>

</body>
</html>